body {
  background-color: #FFFDE3;
  margin: 0;
}

/* HOME */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E64848;
  font-family: 'Indie Flower', cursive;
  height: 5vh;
}

h5 {
  color: #FFFDE3;
  font-size: 25px;
}

.container-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #CFE8A9;
  height: 10vh;
}

.link {
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  margin: 40px;
  font-size: 30px;
  font-weight: 800;
  color:  #C21010;;
}

.left-link {
  margin-left: 90px; 
}

.heading-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.logo {
  width: 250px;
  margin: 20px 70px; 
}

h1 {
  font-family: 'Crafty Girls', cursive;
  font-size: 50px;
  font-weight: 800;
  color:  #C21010;
  align-self: center;
  text-align: center;
  letter-spacing: 0.2em;
  flex: 2;
}
/* Slider */

.slider-wrapper {
  display: flex;
  flex: 1;
  position: absolute;
}

.bg-image {
  width: 100%;
}

.btn-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 65vh;
  align-items: center;
}

.btn {
  border: none;
  background: transparent;
}

/* ----------- */
.picture-links {
  width: 100%;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #C21010;
}

.columns-wrapper {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-title {
  font-weight: 900;
  font-size: 25px;
  color: #3b5d09;;
  font-family: 'Crafty Girls', cursive;
}

ul {
  font-size: 20px;
  color: #E64848;
  font-family: 'Indie Flower', cursive;
}

li {
  cursor: not-allowed;
}

/* Products */

.buttons-container{
  display: flex;
  justify-content: space-between;
  background-color: #C21010;
  height: 10vh;
  flex-wrap: wrap;
}

.findItem {
  background-color: #C21010;
  border-right: solid 1px #FFFDE3;
  border-top: none;
  border-bottom: none;
  border-left: none;
  font-family: 'Indie Flower', cursive;
  color: #CFE8A9;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
  flex: 5;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  background: rgba(207, 232, 169, 0.21);
  justify-content: space-around;

}

.products-container {
  width: 300px;
  padding: 2%;
}

.product-image {
  width: 300px;
  height: 180px;
}

.text-container {
  width: 200px;
  height: 100px;
}

.product-text {
  color: #4A7A02;
  font-family: 'Indie Flower';
  font-size: 20px;
  height: 35px;
}

.product-button {
  width: 200px;
  background: rgba(194, 16, 16, 0.05);;
  color: #253E01;
  font-family: 'Indie Flower', cursive;
  border: none;
  padding: 10px;
  font-size: 15px;
  cursor: not-allowed;
}

/* About  */
.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  font-family: 'Indie Flower', cursive;
  color: #C21010;
  width:70%;
  text-align: center;
  font-size: 25px;
}

.contact-text {
  color: #4A7A02;
  font-family: 'Indie Flower', cursive;
  width:80%;
  text-align: center;
  font-size: 25px;
}

.icon {
  width: 30px;
  cursor: not-allowed;
}

.present {
  width: 600px;
}


/* reviews */

.feedback-title {
  font-family: 'Crafty Girls', cursive;
  color: #FFFDE3;
  text-align: center;
  width:50%;
  padding: 30px;
}
.reviews {
  background-image: url(/src/pictures/others/reviewbg.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.reviews-wrapper {
  display: flex;
   flex-wrap: wrap;
   width: 60%;
}
.review-container {
    background-color: #E64848;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 15px;
    border-radius: 20px;

}

.review-title {
  font-family: 'Crafty Girls', cursive;
  color: #FFFDE3;
  font-size: 25px;
}

.review-text {
  font-family: 'Indie Flower', cursive;
  color: #CFE8A9;
  padding:  0 30px;
  font-size: 20px;
}

.review-button {
  background: transparent;
  border: none;
  text-decoration: underline;
  color: #FFFDE3;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
  font-size: 20px;
}


@media all and (max-width: 850px) {

  .container {
    height: 3vh;
  }
  
  h5 {
    font-size: 17px;
  }
  .container-menu {
    height: 6vh;
  }
  .link {
    margin: 20px;
    font-size: 25px;
  }
  .heading-wrapper {
    flex-direction: column;
    align-items: center;

  }
  .left-link {
    margin-left: 20px; 
  }
  .logo {
    width: 150px;
  }
  h1 {
    font-family: 'Crafty Girls', cursive;
    font-size: 20px;
  }


  
  .btn-container {
    height: 15vh;

  }
  .img-btn {
    width: 40px;
  }

  .slider-wrapper {
    width: 100%;
  }



  .buttons-container{
    display: flex;
    flex-direction: column;

      height: 30vh;
  }

  hr {
    display: none;
  }

  .findItem {
    border-right: none;
    border-bottom: solid 1px #FFFDE3;
  }
  
  .products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

  
  }

  .present {
    width: 350px;
  }

  .reviews-wrapper  {
    flex-direction: column;
    align-items: center;

  }

}


@media all and (max-width: 500px) {
  .container {
    height: 5vh;
    
  }
  
  h5 {
    font-size: 13px;
  }
  .about-text, .contact-text  {
    font-size: 20px;
  }
  
  .icon {
    width: 15px;
  }
  
}